 @font-face { font-family: economica; src: url('../font/Economica-Bold.otf'); } 
body {
  margin: 0;
  padding: 0;
  background: black;
}
body *{
  margin: 0;
  padding: 0;
}
.visuel img {
  width: 100%;
}
.compteur {
  min-height: 130px;
  display: block;
}
.entre {
  color: red;
}
.sortie {
  color: green;
}
.compteur div {
  width: 50%;
  display: block;
  float: left;
  text-align: center;
  font-size: 100px;
  font-family: economica, sans-serif;
}