 @font-face { font-family: economica; src: url('../font/Economica-Bold.otf'); } 
 body {
  margin: 0;
  padding: 0;
}
body *{
  margin: 0;
  padding: 0;
}
.entre,.sortie {
  width: 46%;
  float: left;
  padding: 10px 2%;
}
table {
  width: 100%;
}
.type,.poid{
    width: 40%;
}
table, tr,td {
  border: 2px solid black;
  border-collapse: collapse;
}
td{
   padding: 1px 10px;
}
.label  td,.label span, h1,h2 {
  font-family: economica, sans-serif;
  color:#3a3a3a;
 }
 .label__type, .label__poid{
     width: 200px;
     display: inline-block;
 }
.label span{
  text-align: center;
  font-size: 15px;
  margin: 5px;
}
.form {
    margin-bottom: 30px;
}